<div class="row s12">
  <nav class="cor-nav">
    <div class="nav-wrapper" style="width: 750px">
      <ul class="left">
        <li><a (click)="voltar()"><i class="material-icons">arrow_back</i></a></li>
      </ul>
      <a class="brand-logo" style="padding-left: 0px"><i class="material-icons">create</i>Caderno Digital</a>
      <ul class="right">
        <li><a><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col s12" style="padding: 20px 30px 20px 30px;">
    <div class="col s4">
      <a class="waves-effect waves-light btn-large" (click)="buscarMateria('biologia')" style="background: #00FF7F"><i class="fas fa-leaf"></i>
        <span class="btn-letra">Biologia</span>
      </a>
    </div>

    <div class="col s4">
      <a class="waves-effect waves-light btn-large" (click)="buscarMateria('geografia')" style="background: #FF4040"><i
          class="fas fa-globe-asia"></i>
        <span class="btn-letra">Geografia</span>
      </a>
    </div>

    <div class="col s4">
      <a class="waves-effect waves-light btn-large" (click)="buscarMateria('ingles')"><i class="fas fa-heading"></i>
        <span class="btn-letra">Inglês</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12" style="padding: 20px 30px 20px 30px;">
    <div class="col s4">
      <a class="waves-effect waves-light btn-large" (click)="buscarMateria('historia')" style="background: #8B8386"><i
          class="fas fa-book-open"></i>
        <span class="btn-letra">História</span>
      </a>
    </div>

    <div class="col s4">
      <a class="waves-effect waves-light btn-large" (click)="buscarMateria('fisica')" style="background: #FF7F00"><i
          class="fas fa-hourglass-start"></i>
        <span class="btn-letra">Física</span>
      </a>
    </div>

    <div class="col s4">
      <a class="waves-effect waves-light btn-large" (click)="buscarMateria('quimica')" style="background: #E066FF"><i
          class="fas fa-thermometer-quarter"></i>
        <span class="btn-letra">Química</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
<img src="./assets/jandaia.jpg" style="height: 60px; margin-top: 400px; margin-left: 550px;">
</div>